{% extends "head.html" %}

{% block content %}

<!-- HTML goes in here -->
<h1>About Us</h1>
<p>
  The Owl Line Online Bookstore established in 2017,is the online version of the Kennesaw State on-campus bookstore. <br/>
  Our main purpose is to supply students who do not have an easy way to buy/rent books, with a convient way to not only<br/>
  purchase/rent the recommended or required textbooks per class, students can have books shipped to them<br/>
  anywhere within the United States.
</p>

{% endblock %}
