{% extends "head.html" %}

{% block content %}

<!-- HTML goes in here -->
<h1>Contact Us</h1>
<label>Phone:</label>
    <p> 470-578-6261</p>

    <label>Hours of Operation:</label>
    <p>
        Monday - Thursday 7:30AM-7:00PM
        Friday            7:30AM-5:00PM  
        Saturday          10:00AM-5:00PM
        Sunday            CLOSED
    </p>

    <label>Email:</label>
    <a href="mailto:books@kennesaw.edu ">books@kennesaw.edu</a>

    <label>Mailing Address:</label>
    <p>
        395 Cobb Ave
        Kennesaw, GA 30144
    </p>

{% endblock %}
