{% extends "head.html" %}

{% block content %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Q: How much is shipping?</h2>
    <h3>A: Shipping is a flat rate of $14.99 USD. We ship anywhere USPS will ship.</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Q: How much is tax?</h2>
    <h3>A: Georgia sales tax applies to all orders. That is, 7%.</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Q: Can I order books even if I'm not a student?</h2>
    <h3>A: Yes</h3>
  </div>
</div>

{% endblock %}
