<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body style="background-color:#cccccc">
<div class="row" style="margin-top: 50px;">
  <div class="col-md-2" style="margin-top: 25px; margin-left: 50px">
    <a href="/">
      <img src="http://styleguide.kennesaw.edu/images/KSU-Mountain-Logo.png" alt="KSU_LOGO">
    </a>
    <p>Online Bookstore</p>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <form action="/" method="post">
      {{ form.csrf_token }}
      {{ form.isbn(size=30, placeholder="ISBN") }}
      {{ form.prof() }}<br><br>
      {{ form.title(size=30, placeholder="Title") }}
      {{ form.classs() }}<br><br>
      {{ form.keyword(size=30, placeholder="Keyword") }}
      {{ form.author(size=30, placeholder="Author") }}
      <input type="submit" value="Search">
    </form><br><br>
  </div>
</div>

{% block content %}
{% endblock %}
</body>
