{% extends "head.html" %}

{% block content %}
  {% if results %}
    {% for book_row in results | batch(2) %}
    <div class="row">
      {% for book in book_row %}
      {% set isbn = book[0] %}
      {% set name = book[1] %}
      {% set author = book[2] %}
      {% set stock_new = book[9] %}
      {% set stock_used = book[10] %}
      {% set stock_rent = book[11] %}
      {% set stock_ebook = book[12] %}
      {% set price_used = book[14] %}
      {% set price_new = book[13] %}
      {% set price_rent = book[15] %}
      {% set price_ebook = book[16] %}
      {% set description = book[17] %}
        <div class="col-md-5" style="margin-left: 100px; margin-top: 20px">
          <div class="col-md-1">
              <img src="static/covers/{{ isbn }}.jpg" height="150" width="100" alt="{{ name }}">
          </div>
          <div class="col-md-10" style="margin-left: 50px">
              <div class="col-md-12">
                  <p style="font-size:12px">
                  <a href="{{ url_for('book_details', isbn=isbn) }}" style="font-size:18px">
                    {{ name }}
                  </a><br>
                  {% if price_ebook == '0' %}
                    {% set ebook = 'N/A' %}
                  {% else %}
                    {% set ebook = '$' +price_ebook %}
                  {% endif %}
                  {% if stock_ebook == '0' %}
                    {% set e_stock = 'No' %}
                  {% else %}
                    {% set e_stock = 'Yes' %}
                  {% endif %}
                    ISBN: {{ isbn}}  |  Author: {{ author }}<br>
                    Price: ${{ price_new }} (New)  |  ${{ price_used }} (Used)  |  ${{ price_rent }} (Rent)  |  {{ ebook }} (E-book)<br>
                    Stock: {{stock_new }} (New)  |  {{ stock_used }} (Used)  |  {{ stock_rent }} (Rent)  |  {{ e_stock }} (E-book)<br>
                    <b>{{ description | truncate(250) }}</b>
                    <form action="/cart/add" method="post">
                      {{ bookform.types(choices=types) }}
                      <input type="submit" value="Add to cart">
                      <span style="display:none">{{ bookform.search(choices=search) }}</span>
                      <span style="display:none">{{ bookform.isbn(value=isbn) }}</span>
                    </form>
                  </p>
              </div>
          </div>
        </div>
          {% endfor %}
        </div>
    {% endfor %}
  {% else %}
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <h3 style="text-align: center">Search for books using keywords!</h3>
    </div>
  </div>
  {% endif %}
{% endblock %}
