{% extends "head.html" %}

{% block content %}
  {% if results %}
    {% for book in results %}
    {% set isbn = book[0] %}
    {% set name = book[1] %}
    {% set stock_new = book[9] %}
    {% set stock_used = book[10] %}
    {% set stock_rent = book[11] %}
    {% set stock_ebook = book[12] | int %}
    {% if stock_ebook > 1 %}
      {% set stock_ebook = 'Yes' %}
    {% else %}
      {% set stock_ebook = 'No' %}
    {% endif %}
    {% set price_used = book[14] %}
    {% set price_new = book[13] %}
    {% set price_rent = book[15] %}
    {% set price_ebook = book[16] %}
      <div class="row">
        <div class="col-md-1 col-md-offset-1">
          <img src="static/covers/{{ isbn }}.jpg" height="150" width="100" alt="{{ name }}"/>
        </div>
        <div class="col-md-10">
          <h3>{{ name }}</h3>
          <div class="row">
            <div class="col-md-12">
              <p>ISBN: {{ isbn }}</p>
            </div>
            <div class="col-md-12">
              <p>Price New: {{ price_new }}  |  Price Used: {{ price_used }}  |  Price Rent: {{ price_rent }}  |  Price Ebook: {{ price_ebook }}</p>
            </div>
            <div class="col-md-5">
              <p>Stock New: {{ stock_new }}  |  Stock Used: {{ stock_used }}  |  Stock Rent: {{ stock_rent }}  |  Stock Ebook: {{ stock_ebook }} &nbsp;&nbsp;&nbsp;&nbsp; <img width=20 height=20 src="static/img/cart.png" alt="cart" /></p>
            </div>
            <div class="col-md-1">

            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}

  {% endif %}
{% endblock %}
