{% extends "head.html" %}

{% block content %}

{% if invoice %}
  <div class="row">
    <div class="col-md-4 col-md-offset-5">
      <h2>Receipt</h2>
    </div>
  </div>
  <div class="col-md-7 col-md-offset-3">
    <div class="row">
        <div class="col-md-5">
          <h3>Order Summary</h3>
        </div>
        <div class="col-md-2">
          <h4>Qty.</h4>
        </div>
        <div class="col-md-2" style="margin-left: 10px">
          <h4>Price</h4>
        </div>
        <div class="col-md-8">
          <hr>
        </div>
    </div>
    {% if cart %}
      {% for entry in cart %}
        {% set book = entry['book'] %}
        {% set qty  = entry['count'] | int %}
        {% set price = entry['price'] | float %}
        {% set type = entry['type'] %}
        <div class="row">
          <div class="col-md-5">
            <h4>{{ book[1] }} ({{ type }})</h4>
          </div>
          <div class="col-md-2" style="margin-left: 10px">
            <h4>{{ qty }}</h4>
          </div>
          <div class="col-md-2">
            {% set book_prc = qty * price %}
            <h4>${{ '%0.2f' % book_prc | float }}</h4>
          </div>
          <div class="col-md-8">
            {% if type == 'E-book' %}
            Download: <a href="#">https://www.ebooksrus.com/{{ book[0] }}/download.php</a>
            {% endif %}
            <hr>
          </div>
        </div>
      {% endfor %}
    {% endif %}
      <!-- Subtotal shipping and tax -->
      <div class="row">
        <div class="col-md-5" style="margin-left: 10px">
          <h4>Subtotal</h4>
        </div>
        <div class="col-md-2">
          <h4>{{ cart_count }}</h4>
        </div>
        <div class="col-md-2">
          <h4>${{ '%0.2f' % subtotal|float }}</h4>
        </div>
        <div class="col-md-8">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5" style="margin-left: 10px">
          <h4>Shipping</h4>
        </div>
        <div class="col-md-1 col-md-offset-2">
          <h4>$14.99</h4>
        </div>
        <div class="col-md-8">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5" style="margin-left: 10px">
          <h4>Tax</h4>
        </div>
        <div class="col-md-1 col-md-offset-2">
          <h4>${{ '%0.2f' % tax | float }}</h4>
        </div>
        <div class="col-md-8">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-md-offset-5">
          <h4>Total:</h4>
        </div>
        <div class="col-md-1 col-md-offset-1">
          {% set total = subtotal + 14.99 + tax %}
          <h4>${{ '%0.2f' % total | float }}</h4>
        </div>
        <div class="col-md-8">
          <hr>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-3">
          <h2>Shipped To</h2>
          <h4>{{ invoice['ship_name'] }}</h4>
          <h4>{{ invoice['ship_addr'] }}</h4>
          <h4>{{ invoice['ship_city'] }}, {{ invoice['ship_state'] }} {{invoice['ship_zip'] }}</h4>
        </div>

      </div>
{% else %}
  <h1>No receipt!</h1>
{% endif %}

{% endblock %}
